@page
@using Microsoft.AspNetCore.Mvc.Localization
@using LFG.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using LFG.Web.Pages.Clienti
 @using LFG.Clienti; 
@using System.Globalization
@inject IHtmlLocalizer<LFGResource> L
@model CreateModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Clienti/CreateModal" autocomplete="off">
    <abp-modal id="ClienteCreateModal">
        <abp-modal-header title="@L["NewCliente"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
            <abp-input asp-for="Cliente.Nome"    />
            <abp-input asp-for="Cliente.Cognome"    />
            <abp-input asp-for="Cliente.Genere"    />
            <abp-date-picker auto-update-input="false" today-button-classes="btn-primary" asp-for="Cliente.DataNascita" data-date="" />
            <abp-input asp-for="Cliente.Email"    />
            <abp-input asp-for="Cliente.Telefono"    />
            <abp-input asp-for="Cliente.Sezione"    />
            <abp-input asp-for="Cliente.Nazionalita"    />
            <abp-input asp-for="Cliente.UserId"    />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>